<%- include("partials/header") -%>

<p id="participantId" class="hidden"><%=participantId%></p>
<p id="participantName" class="hidden"><%=participantName%></p>
<p id="secret" class="hidden"><%=secret%></p>
<p id="sessionKey" class="hidden"><%=sessionKey%></p>
<p class="hidden" id="emotion-status">Emotion: </p>

<div class="">
  <span style="background-color: white ;" id="timestamp-id"></span>
  <span style="background-color: white ;" id="working-idle">□</span>
  <span style="background-color: white ;" id="request-completion-time">--ms</span>

</div>



<div class="row">
  <div class="col-lg-12 center">
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <p class="video-text">Session Key: <%=sessionKey%></p>
    <canvas id="canvas" class="d-none hidden"></canvas>
    <div class="input-group mb-3">
      <input type="text" id="input-remark" class="form-control" placeholder="Write your remark here" aria-label="Write your remark here">
      <div class="input-group-append">
        <button id="send-remark-btn" class="btn btn-outline-secondary" type="button">Send</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.0/dist/tf.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd@2.2.2/dist/coco-ssd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
<script type="text/javascript" src="/face-api.js"></script>
<script type="module" src="/client.js" charset="utf-8"></script>

<%- include("partials/footer") -%>
